.main-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 80px;
    color: #FFBA08;
    text-shadow: 4px 4px 0px #000;
    margin-top: -60px;
    margin-left: -100px;
}

.main-title.-second {
    color: #FFF;
    text-shadow: none;
    text-align:center;
}